
.cls-1 {
  stroke: #f9f9f9;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.8px;
  fill-rule: evenodd;
}


#mazowieckie, #zachodniopomorskie, #podkarpackie,#dolnośląskie{
  fill:#2f0e4d;
  animation-name: apperance;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes apperance{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0.4;

  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
}


#mazowieckie:hover, #zachodniopomorskie:hover, #podkarpackie:hover,#dolnośląskie:hover,
#warmińsko-mazurskie:hover, #wielkopolskie:hover,#świętokrzyskie:hover,#śląskie:hover{
    fill:#007300;
    stroke:#ffffff;
    stroke-width: 2.5px;
}

#warmińsko-mazurskie, #wielkopolskie,#świętokrzyskie,#śląskie{
   fill:#3d1262;
   animation-name: apperance;
   animation-duration: 1s;
}


#kujawsko-pomorskie, #podlaskie,#opolskie{
  fill:#8aacb8;
  animation-name: apperance;
  animation-duration: 0.5s;
}

#kujawsko-pomorskie:hover, #podlaskie:hover,#opolskie:hover{
   fill:#990000;
   stroke:#ffffff;
   stroke-width: 2.5px;
}



#pomorskie,#lubelskie,#lubuskie, #małopolskie, #łódzkie{
   fill:#003366;
   animation-name: apperance2;
   animation-duration: 3s;
}

@keyframes apperance2{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}


#pomorskie:hover,#lubelskie:hover,#lubuskie:hover, #małopolskie:hover, #łódzkie:hover{
  fill:#808000;
  stroke:#ffffff;
  stroke-width: 2.5px;

}
